[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	l = log
[user]
	name =  Eder Roger
        email = eder.roger.souza@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = vim
	excludesfile = /home/eder/dotfiles/.global_ignore
[push]
	default = simple
